@font-face {
  font-family: "Montserrat", Arial, sans-serif;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Inter", Arial, sans-serif;
  src: url(../fonts/Inter-Regular.ttf);
}
